* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* background */
  --bg-color-primary: rgb(24, 24, 24);

  --text-color-primary: rgb(229, 229, 229);

  --border-color-primary: rgba(231, 231, 231, 0.3);
  --border-color-secondary: rgba(165, 165, 165, 0.1);
  /* border radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;

  /* use in gap, padding */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
}

body,
html {
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-xl);
  gap: var(--space-md);
}

.infos {
  display: flex;
  justify-content: space-between;
}

.info {
  border: 1px solid var(--border-color-primary);
  border-radius: var(--border-radius-sm);
  padding: var(--space-sm);
}

.board {
  border: 1px solid var(--border-color-primary);
  flex-grow: 1;
  border-radius: var(--border-radius-xs);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
}

.block {
  border: 1px solid var(--border-color-secondary);
}

.fill{
    background-color: bisque;
}